*.zip
venv/
data/intel-image-classification
*.jpg
*.pyc
*.pkl
*.tar.gz
*.tar
*.gz
tempCodeRunnerFile.py
*32*.pth
*12*.pth
/checkpoints/res12*/*model.pth


*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

*.bbl
*.blg

*.out
*.acn
*.glo
*.ist
*.zip
*.glsdefs